.tab-header-background {
    -fx-background-color: transparent;
}

.tab{
    -fx-background-color:  #3B3A7C;
}

.tab:hover{
    -fx-background-color: #4b4999;
    -fx-cursor: HAND;
}

.tab:selected{
    -fx-background-color: #4b4999;
}

.tab-label{
    -fx-text-fill: #ffffff;
}

.scroll-pane{
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-border-color: white;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
}

.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.text-area{
    -fx-text-fill:#ffffff;
}